DB_HOST=192.168.47.105
DB_PORT=3306
DB_USERNAME=wine_info_scraper
DB_PASSWORD=changeme
DB_DATABASE=wine_info
NAVER_CLIENT_ID=changeme
NAVER_CLIENT_SECRET=changeme
GITHUB_TOKEN=changeme
NAVER_COOKIE=NID_AUT=changeme; NID_SES=changeme
GEMINI_API_KEY=changeme
